# Core ML libraries
numpy>=1.23.0,<2.0.0
pandas>=2.0.0
scikit-learn>=1.2.0
tensorflow==2.16.1
opencv-python-headless>=4.6.0.0
mediapipe==0.10.21
Pillow>=9.0.0
joblib>=1.2.0

# Model export libraries
onnx>=1.14.0
onnxruntime>=1.15.0
tf2onnx>=1.10.0
# sklearn2onnx==1.19.1 # <-- Coba versi spesifik terbaru
sklearn2onnx # <-- Atau coba tanpa batasan versi, biarkan pip cari yang paling baru

# Image processing
albumentations>=1.3.0

# Utilities
tqdm>=4.64.0
matplotlib>=3.7.0
seaborn>=0.12.0

# Flask
Flask>=2.3.0

# Data handling
pathlib2==2.3.0
